{{ define "main" }}

{{ partial "toc.html" . }}

<section id="single">
    <h1 class="title">{{ .Title }}</h1>

    <div class="tip">
        <span>
          {{ .Date.Format "2006-01-02 15:04" }}
        </span>
        <span class="split">
          ·
        </span>
        <span>
          {{ if lt 1 .WordCount }}
            约{{ .WordCount }}字
          {{ else }}
              {{ .WordCount }} word
          {{ end }}
        </span>
        <span class="split">
          ·
        </span>
        <span>
          需时{{ .ReadingTime }}分钟
        </span>
    </div>

    <div class="content">
      {{  .Content }}
    </div>

    {{ with .Params.tags }}
        <div class="tags">
          <p style="display: inline-block; margin:5px 0 5px 0; color: #b6b6b6">Tags：</p>
            {{ range . }}
                <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
    {{ end}}

    {{ if not .Lastmod.IsZero }}
    <p style="color:rgb(182, 182, 182); margin-top:40px;">最后编辑于 {{.Page.Lastmod.Format "2006-01-02" }}</p>
    {{ end }}


    {{ partial "postpagination.html" . }}
    {{ partial "backtop.html" . }}

    {{ if .Params.comment | default true }}
        {{ partial "comment.html" . }}
    {{ else }}
        <p style="text-align: center; margin-top: 20px; font-size: 12px;">该页面已关闭评论</p>
    {{ end }}

</section>

{{ end }}

