{{ define "main" }}

<div id="list-page">
    {{ $pages := .Site.RegularPages }}
    {{ $paginator := .Paginate ($pages) }}
    {{ range $paginator.Pages }}
        {{ $title := .Title }}
        {{ $summary := .Description }}
        {{ $date := dateFormat "2006-01-02" .Date }}

        {{/*  首页文章列表  */}}
        <article class="item">
          <div class="content">
            <h1 class="title"><a href='{{ .RelPermalink }}'>{{ $title }}</a></h1>   
            <div class="summary">{{ $summary | plainify | htmlUnescape }}</div>
            <div class="date">{{ $date }}  </div>
          </div>

          {{/*  列表题图  */}}
          {{ $featured_image := .Params.featured_image }}
          {{ if $featured_image }}
          {{ $image := .Resources.GetMatch (.Params.featured_image) }}
            <a class="thumb" href='{{ .RelPermalink }}'>
              <img 
              {{ if $image }}
                src="{{ $image.Permalink }}"
              {{ else }}
                src="{{ $featured_image | absURL}}"
              {{ end }}
              /></a>
          {{ end }}
        </article>
    {{ end }}
    <hr>
    {{ partial "pagination" . }}
</div>
{{ end }}
