{{ if .Site.Params.disqusShortname }}
<div class="comments">
    <vue-disqus shortname="{{.Site.Params.disqusShortname}}"></vue-disqus>
</div>
<noscript><noscript>{{ i18n "comments_activate_js" }}</noscript></noscript>
<a href="https://disqus.com/" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>
{{ end }}

{{ if .Site.Params.enableGitalk }}
<div id="gitalk-container"></div>
{{ end }}

{{ if .Site.Params.enableValine }}
<div id="vcomments"></div>
<!-- Script moved to journal.html -->
{{ end }}

{{ if .Site.Params.livereId }}
<div id="lv-container" data-id="city" data-uid={{.Site.Params.livereId}}>
	<noscript>{{ i18n "comments_activate_js" }}</noscript>
</div>
{{ end }}

<!-- Twikoo 评论 -->
{{ if .Site.Params.enableTwikoo }}
<div class="pagination__title">
  <span class="pagination__title-h">欢迎评论</span>
  <hr />
</div>
  <div id="tcomment"></div>
  <script src="https://cdn.jsdelivr.net/npm/twikoo@1.2.4-beta/dist/twikoo.all.min.js"></script>
  <script>twikoo.init({ envId: 'blog-7g64ycaa61ba0fad', el: '#tcomment' })</script>
{{ end }}

{{/*  waline评论  */}}

{{ if .Site.Params.enableWaline }}
<div id="waline"></div>
<script>
  new Waline({
    el: '#waline',
    path: location.pathname,
    serverURL: 'https://blogcomment-one.vercel.app'
    })
</script>
{{ end }}
