<nav class="navigation">

	{{/*  左上LOGO  */}}

	<div class="logo">
		<a href="{{ "/" | relURL }}">
			<img src="{{ "/images/avatar.png" | relURL }}" />
		</a>
	</div>
	{{/*  左上LOGO至此完结  */}}

	{{/*  导航页签  */}}
	<div class="main-width">
		<div class="centernav">
			{{ if .IsHome }}
			{{ $currentPage := . }}
				{{ range .Site.Menus.main }}
				<a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
				{{ end }}
			{{ end}}
		</div>
	</div>		
</nav>